<h1>User#new</h1>
<p>Find me in app/views/user/new.html.erb</p>


 <%# ALERTE FORMULAIRE %>
<% if @user && @user.errors.any? %>
  <p>Nous n'avons pas réussi à créer ton compte pour la (ou les) raison(s) suivante(s) :</p>
  <% @user.errors.full_messages.each do |message| %>
    <p class="alert alert-danger" role="alert"><%= message %></p>
  <% end %>
<% end %>

<%# FORMULAIRE %>
      <%= form_with url: users_path(@user), action: 'create', method: "post"  do |f| %>
        <div class= "form-group required">
          <%# First_name %>
          <%= f.label :first_name, "Prénom", class: "form-label"%>
          <%= f.text_field :first_name, required: true, class: 'form-control', value: @user.first_name %>
          <br>
          <%# last_name %>
          <%= f.label :last_name, "Nom", class: "form-label"%>
          <%= f.text_field :last_name, required: true, class: 'form-control', value: @user.last_name %>
          <br>
          <%# email %>
          <%= f.label :email, "Email", class: "form-label"%>
          <%= f.email_field :email, required: true, class: 'form-control', value: @user.email %>
          <%# confitmation email %>
          <%= f.label :email_confirmation, "Confirmation Email", class: "form-label"%>
          <%= f.email_field :email_confirmation, required: true, class: 'form-control', value: @user.email_confirmation %>
          <br>
          <%# password %>
          <%= f.label :password, "Mot de passe", class: "form-label"%>
          <%= f.password_field :password, required: true, class: 'form-control' %>
          <%# confirmation password %>
          <%= f.label :password_confirmation, "Confirmation Mot de passe", class: "form-label"%>
          <%= f.password_field :password_confirmation, required: true, class: 'form-control' %>
        </div>
        <br>
        <%# description %>
        <%= f.label :description, "Description", class: "form-label"%>
        <%= f.text_area :description, class: 'form-control', rows:3, value: @user.description %> 
        <br>
        
        <div class='form-check'>
          <%= f.check_box :remember_check, class: "form-check-input" %>
          <%=f.label :remember_check, "Se souvenir de moi", class: "form-check-label" %>
        </div>
        <%# Boutons %>
        <div class="text-right">
          <%# Submit %>
          <%= f.submit value: "Valider", class: "btn btn-primary" %>
          <%# Retour %>
          <a class="btn btn-secondary" href="<%= root_path %>" role="button" >Annuler</a>
        </div>
      <% end %>
