<!DOCTYPE html>
<html>
  <head>
    <title>ThpEventbriteLike</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body data-turbo="false">
  <header>
    <nav>
      <%= link_to 'accueil', root_path%> 
      <%= link_to 'Créer un evenement', root_path%>
      <%= link_to 'inscription', new_user_path%> 
      <%= link_to 'connexion', root_path%>
      <%= link_to 'Mon Profil', user_path%>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
